.home-page-container{
    display: flex;
    flex-direction: column;
    background: linear-gradient(135deg,#737A55,#595F42);
    color:  white;
    padding-top: 75px;
}

.home-page-header, .home-page-image{
    display: flex;
    flex-direction: column;
    justify-content: top;
    flex: 1;
}

.home-page-image img{
    height: 500px;
    width: auto;
    object-fit: cover;
    padding: 40px;
    border-radius: 50px;
}

.white_background {
    background-color: white;
    background-clip: content-box;
}

.home-page-header {
    padding-left: 100px;
    text-align: left;
    padding-top: 20px;
}
header h3 {
    margin-top: 0;
}

.home-page-header h1, .home-page-header p {
    padding-right: 50px;
}

.home-page-header h1 {
    font-size: 40px;
    line-height: 1.2;
}

@media screen and (min-width: 768px) {
    .home-page-container{
        flex-direction: row;
    }

    .home-page-image{
        height: 100%;
    }
}



