/* .item-list2{
  display: flex;
  flex-direction: row;
  max-width: 80%;
  margin: 0 auto;
  flex-wrap: wrap;
  max-height: 1000px;
  padding-top: 100px;
}

.item2 {
  width: 31%;
  padding: 20px;
  background: white;
  margin: 0 .5rem 1rem .5rem;
  text-align: center;
  font-family: system-ui;
  font-weight: 900;
}  */

